@font-face {
    font-family: Playfair;
    src: url('Fonts/PlayfairDisplay-Variable.ttf');
    font-weight: normal;
}
@font-face {
  font-family: AbrilFat;
  src: url('Fonts/AbrilFatface-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: Tektur;
  src: url('Fonts/Tektur-VariableFont_wdth\,wght.ttf');
  font-weight: normal;
}
html, body {
    margin:0;
    padding:0;
    }
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent 49%, #393768 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, #393768 49% 51%, transparent 51%);
        background-size: 1em 1em;
        background-color: #000000;
        opacity: 1
}
.tiDE, .tiEN{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.tiDE{
  color: white;
  font-size: 22px;
  margin: 0px;
  margin-top: 30px;
  font-size: 23px;
}
.tiEN{
  font-size: 18px;
  color: yellow;
  margin: 5px;
}
.divTi{
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 10px 0px;
}
.accDE, .accEN{
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
.accEN{
  color: yellow;
  font-size: 12px;
  margin-top: 0px;
}
.accDE{
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 16px;
  color: white;
}
.divdes{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.imgTrip{
  max-width: 250px;
  object-fit: cover;
}
.txtdes{
  background-color: #000000c4;
  padding: 20px;
  max-width: 400px;
}
.whEN, .whDE{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.whDE{
  margin-bottom: 4px; 
  color: white;
  font-size: 18px;
}
.whEN{
  font-size: 14px;
  margin-top: 0px;
  color: yellow;
}
.divWH{
  width: 100%;
}
.blocWH{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.897);
  padding: 20px;
  border-radius: 4px;
}
.tiWH{
  background-color: rgba(0, 0, 0, 0.842);
  padding: 10px;
}
.txtWHEN{
  margin-bottom: 0px;
  color: yellow;
  font-size: 14px;
  margin-top: 0px;
}
.txtWHDE{
  margin-top: 0px;
  font-size: 16px;
  color: white;
  margin-bottom: 4px;
}
.txtWH{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
.act{
  font-family: Arial, Helvetica, sans-serif;
  color: #8e88ff;
}

/* Css menu */
.menu{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: black;
}
.logoME{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.liloME{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav  a{ /* tous les liens a à l'intérieur de la balise nav */
  float: left; /* effet flottant */
  text-decoration: none; /* pas d'héritage avec effet souligné */
  color: #ffffff; /* couleur du texte */
  background: #000000; /* couleur de fond */
  height: 36px; /* hauteur */
  line-height: 33px; /* interligne */
  padding: 0 10px; /* marges intérieur */
  font-family: sans-serif; /* police d'écriture */
  font-size: 13px; /* taille du texte */
  transition: .5s; /* temps de transition lors du hover : une demi seconde */
  }
  nav  a:hover{ /* tous liens lors du survol dans la balise nav */
  background: #3cc0f4; /* couleur de fond */
  }
  nav  a:hover:first-child{ background: #336699; }

.divJoin{
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.join{
  text-align: justify;
}
/*Bouton join us*/
.myButton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Media queries mobile et tablette */
/* Mobiles */
@media (min-width: 200px) and (max-width: 480px) {

 .divdes{
  flex-direction: column;
 }
 .imgTrip{
  width: auto;
  max-width: 400px;
 }
 .blocWH{
  width: auto;
 }
 .tiDE{
  padding: 0px 10px;
 }
}

@media (min-width: 481px) and (max-width: 768px) {
  .divdes{
    flex-direction: column;
   }
   .imgTrip{
    width: auto;
    max-width: 400px;
   }
   .blocWH{
    width: auto;
   }
   .tiDE, .tiEN{
    padding: 0px 10px;
   }
}

@media (min-width: 769px) and (max-width: 1024px) {

   .imgTrip{
    width: 300px;
   }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .imgTrip{
    width: 300px;
   }
}

@media (min-width: 1201px) {

}
