@font-face {
    font-family: Playfair;
    src: url('Fonts/PlayfairDisplay-Variable.ttf');
    font-weight: normal;
}
@font-face {
  font-family: AbrilFat;
  src: url('Fonts/AbrilFatface-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: Tektur;
  src: url('Fonts/Tektur-VariableFont_wdth\,wght.ttf');
  font-weight: normal;
}
html, body {
    margin:0;
    padding:0;
    }
body{
    width: 100%;
    height: 100%;
    background-color: #0a0217;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%239868e5' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");   
}
.divti{
  margin-top: 50px;
}
.ti, .sti{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.ti{
  color: white;
  margin-bottom: 4px;
  font-size: 22px;
}
#tidsGE{
  font-size: 18px;
}
#tidsEN{
  font-size: 14px;
}
#accEN, #accGE{
  text-align: justify;
}
.sti{
  color: #00b7ff;
  margin-top: 0px;
}
.dste{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.dsteGE1{
  margin-top: 0px;
}
.dsteGE{
  font-size: 16px;
  margin-bottom: 4px;
}
.dsteEN{
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 12px;
  color: #00b7ff;
}
.blocTI{
  
  margin-bottom: 20px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: black;
}
.divds{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: #000000d6;
  padding: 20px;
  margin-bottom: 20px;
}
.txtti{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify;
}
.txttiEN{
  color: #00b7ff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 0px;
}
.txttiGE{
  margin-bottom: 4px;
}
/* Css menu */
.menu{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.788);
}
.logoME{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.liloME{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav  a{ /* tous les liens a à l'intérieur de la balise nav */
  float: left; /* effet flottant */
  text-decoration: none; /* pas d'héritage avec effet souligné */
  color: #ffffff; /* couleur du texte */
  background: #000000; /* couleur de fond */
  height: 36px; /* hauteur */
  line-height: 33px; /* interligne */
  padding: 0 10px; /* marges intérieur */
  font-family: sans-serif; /* police d'écriture */
  font-size: 13px; /* taille du texte */
  transition: .5s; /* temps de transition lors du hover : une demi seconde */
  }
  nav  a:hover{ /* tous liens lors du survol dans la balise nav */
  background: #3cc0f4; /* couleur de fond */
  }
  nav  a:hover:first-child{ background: #336699; }



/* Media queries mobile et tablette */
/* Mobiles */
@media (min-width: 200px) and (max-width: 480px) {
  .divds, .blocTI{
    width: auto;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .divds, .blocTI{
    width: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1200px) {

}

@media (min-width: 1201px) {

}
